 /* all */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;   
        list-style: none;
    }  

    /* latin-ext */
    @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin-ext */
    @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    html {  
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    /* scrollbar */
    html::-webkit-scrollbar {
        width: .8rem;
        background-color: #f4f4f4;
    }
    
    html::-webkit-scrollbar-track {
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: #7b1113;
        border-radius: .5rem;
    }

    body{
        background-color: #7b1113;
        font-family: Poppins;
    }

    /* header */
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 4em;
        background-color: #7b1113;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: top 0.2s ease;
    }   

    header a {
        font-size: 1.3em;
        color: #f9f9f8;
        padding-bottom: px; 
    }

    #logobar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em; 
    }

    /* navbar and logobar */
    .upLogo img {
        height: 2em;
    }

    .uniName {
        font-size: 1.3em;
        color: #f9f9f8;
    }

    .navbar {
        position: fixed;
        top: 4em;
        height: 4.5em;
        width: 100%;
        left: 0;
        background-color: #e8e8e8;
        display: flex;
        padding: 1em;
        justify-content: space-between;
        transition: top 0.2s ease;
        z-index: 1001;
        border-bottom: #228B22 0.1em solid;
        place-items: center;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .navbar ul li {
        margin-left: 1em;
        position: relative;
    }

    .navbar ul li a {
        color: #fff;
        text-decoration: none;
        padding: 0.5em;
        border-radius: 5px;
        display: inline-block;
    }

    .navbar ul li a:hover {
        background-color: #555;
    }

    .navbar h1{
        margin-left: 10em;
        font-size: 1.5em;
    }

    .dropdown {
        position: relative;
        height: 2.3em;
        margin-right: 15em;
    }

    .dropdown > a {
        background-color: #dd8f25;
        padding: 0.5em;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        transition: background-color 0.3s;
        font-size: 1.05em;
    }

    .dropdown:hover > a {
        background-color: #c6781f;
    }

    .dropdown i {
        margin-right: 0.5em;
    }

    .dropdown-content {
        border-top: 3px #7b1113 solid;
        display: none;
        position: absolute;
        background-color: #e8e8e8;
        width: 8.6em; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;
        transition: opacity 1s;
    }

    .dropdown-content a {
        color: black !important;
        text-decoration: none;
        display: block;
        padding: 0.75em 1em; 
        transition: background-color 0.3s, color 0.3s; 
        font-size: 0.9em; 
        border-bottom: 0.5px solid black;
    }

    .dropdown-content a:hover {
        background-color: #555;
        color: white !important;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        pointer-events: auto;
    }

    /* slidebar */
    .slidebar {
        top: 4em;
        bottom: 0; 
        width: 15em;
        position: fixed;
        background-color: #e8e8e8;
        transition: top 0.2s ease, transform 0.5s ease, width 0.5s ease;
        transform: translateX(-15em);
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        z-index: 1002;
    }

    .slidebar i{
        padding-right: 0.8em;
    }

    .slidebar ul {
        flex-grow: 1; 
        margin: 0;
        padding: 0; 
    }

    .slidebar h1 {
        font-size: 1.5em;
        padding: 0.72em 0;
        font-weight: 600;
        text-align: center;
        border-bottom: #228B22 0.07em solid;
    }

    .slidebar a{
        color: #3f3c3c;
    }

    .slidebar ul a {
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding: 1em;
    }

    .slidebar ul a:hover{
        background-color: #7b1113;
        color: #e8e8e8;
        transition: 0.3s ease-in-out;
    }

    .sliderBottomIcons {
        height: 3em;
        border-top: #0a4424 1px solid;
        padding-bottom: 2.5em;
        padding-top: 1em;
        display: flex;
        justify-content: space-evenly;
    }

    .sliderBottomIcons a{
        padding: 0em;
    }

    .toggleSlideBar {
        position: fixed;
        height: 30px;
        width: 30px;
        top: 85px;
        left: 15px;
        z-index: 1003;
        cursor: pointer;
        border-radius: 2px;
        border: 2px solid #7b1113;
        background-color: #e8e8e8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: top 0.2s ease;
    }

    .toggleSlideBar .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #7b1113;
        border-radius: 50px;
        transition: 0.3 ease;
    }

    .toggleSlideBar .topLine {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggleSlideBar .middleLine {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggleSlideBar .bottomLine {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input:checked ~ .toggleSlideBar .topLine {
        left: 0.8px;
        top: 12px;
        width: 25px;
        transform: rotate(45deg);
        transition: 0.3s ease-in-out;
    }

    input:checked ~ .toggleSlideBar .bottomLine {
        left: 0.8px;
        top: 12px;
        width: 25px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
    }

    input:checked ~ .toggleSlideBar .middleLine {
        display: none;
    }

    input:checked ~ .slidebar {
        transform: translateX(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    /* landing pic */
    .landing {
        position: relative;
        top: 6.9em;
        width: 100%;
        height: 45em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .landingPic {
        width: 100%;
        height: 100%;
    }

    .landingPic img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .gradient{
        height: 45em;
        background-image: linear-gradient(to right, #7b1113, #0a4424 );
        opacity: 0.65;
    }

    .landingContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        padding: 20px;
        border-radius: 8px;
        z-index: 999;
        width: 80%;
    }

    .landingContent h1 {
        font-size: 5em;
        margin-bottom: 20px;
        font-family: archivo black; 
        text-transform: uppercase;   
    }

    .landingContent p {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .landingText {
        text-align: center;
    }

    .landingText h1 {
        font-size: 5em;
    }

    .landingText p {
        font-size: 2em;
    }

    #Button {
        background-color: #dd8f25;
        border: none;
        color: white;
        padding: 15px 30px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #Button:hover {
        background-color:#7b1113 ;
    }

    .greetings{
        margin-top: 6.9rem;
        height: 34em;
        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        
    }

    .content {
        height: 15em;
        width: 48%;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        margin-top: 8em;
    }

    .content h1{
        color: #7b1113;
        padding-left: 0.25em;
        font-size: 3em;
    }

    .content p{
        padding: 1em;
        text-align: justify;
    }

    .content > * {
        width: 60%;
        text-align: left;
    }

    .pic-container {
        right:0;
        height: 30em;
        width:52%;
    }

    .pic-container img{
        height: 34em;
        width: 100%;
        object-fit: cover;
    }

    footer{
        height: 20em;
        background-color: #3f3c3c;
        display: flex;
        justify-content: space-between;
        place-items: center;
        color: #f9f9f8;
    }

    .left-footer, .middle-footer, .right-footer{
        width: 33%;
        padding: 1em;
        margin:1em;
    }

    .left-footer > *, .middle-footer > *, .right-footer > *{
        padding: 0.3em;
    }

    .middle-footer, .right-footer{
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
    }

    .footer-logos > img {
        height: 4em;
    }

    .middle-footer{
        text-align: center;
    }

    .right-footer a{
        color: #f4f4f4;
        font-size: 1.1em;
    }

    .right-footer i{
        padding: 0.5em;
    }

    .values{
        height: 30em;
        width: 100%;
        background-color:#7b1113;
        display: flex;
        justify-content: center;
        place-content: center;
    }

    .vision-container, .mission-container, .goal-container{
        height: 35em;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        color: #f4f4f4;
        padding: 2em;
        text-align: center;
    }

    .vision-container > *, .mission-container > *, .goal-container > *{
        font-size: 1.3em;
    }


    .values h1 {
        font-size: 2em;
        position: absolute;
        top:47em;
    }

    .values p {
        margin-top: 2em;
    }
    
    .goal-container p{
        margin-top: 4.3em;
    }

    .mission-container{
        background-color: #0a4424;
    }

    .goal-container{
        background-color: #dd8f25;
    }

    /* try */
    .testimonials{
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        position: relative;
        width: 100%;
        min-height: 25em;
        background-color: #e8e8e8;
        /* background-image: url(homePicture.png);
        background-repeat: no-repeat; */
    }

    .container .contents-wraper{
        width: 70%;
        min-height: inherit;
        margin: 30px auto;
        text-align: center;
    }

    .contents-wraper .header h1{
        position: relative;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;
    }

    .contents-wraper .header h1::before{
        content: '';
        width: 200px;
        height: 2px;
        background-color: #7b1113;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
    }

    .contents-wraper .testRow{
        width: 100%;
        min-height: inherit;
        position: relative;
        overflow: hidden;
    }

    .testRow .testItem{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testRow .testItem:not(.active){
        top: 0;
        left: -100%;
    }

    .testRow .testItem img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 5px;
        outline: 2px solid #0a4424;
        outline-offset: 2px;
    }

    .testRow .testItem h3{
        font-size: 30px;
        font-style: italic;
        padding: 7px;
        color: #7b1113;
    }

    .testRow .testItem h4{
        font-style: italic;
        color: #dd8f25;
    }

    .testRow .testItem p{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.2;
        padding: 10px;
    }

    .contents-wraper .indicators{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        cursor: pointer;
    }

    .contents-wraper .indicators .dot{
        width: 15px;
        height: 15px;
        margin: 0px 3px;
        border: 3px solid #333;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.5s ease;
    }

    .contents-wraper .indicators .active{
        background-color: #7b1113;
    }

    @keyframes next1{
        from{
            left: 0%;
        }
        to{
            left: -100%;
        }
    }

    @keyframes next2{
        from{
            left: 100%;
        }
        to{
            left: 0%;
        }
    }

    @keyframes prev1{
        from{
            left: 0%;
        }
        to{
            left: 100%;
        }
    }

    @keyframes prev2{
        from{
            left: -100%;
        }
        to{
            left: 0%;
        }
    }

/* Card */
.creators, .about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40em;
    width: 100%;
    background-color: #7b1113;
    margin-top: 2em;
}

.about h1{
    font-size: 2.5em;
    color: #e8e8e8;
}

.card-container {
   position: relative;
   width: 33%;
   height: 40em;
   background: #7b1113;
   overflow: hidden;
   border-radius: 10px;
}

.card-container .circle-container {
   position: absolute;
   top: 1.5em;
   left: 50%;
   width: 25em; 
   height: 25em; 
   transform: translateX(-50%); 
   clip-path: circle();
}

.card-container .circle-container::before {
   content: '';
   position: absolute;
   top: -8px;
   left: -16px;
   width: 100%;
   height: 100%;
   box-shadow: 0 0 0 20px #0a4424;
   border-radius: 50%;
   z-index: 2;
   pointer-events: none;
}

.circle-container .imgBox {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   width: 25em; 
   height: 25em; 
}

.imgBox img {
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
   transition: all 0.5s;
}

.card-container img:hover {
   transform: scale(1.2);
}

.card-container .creator-content {
   position: absolute;
   left: 0;
   bottom: 5em;
   width: 100%;
   height: 140px;
   padding: 18px 30px;
}

.creator-content .fa-facebook {
   padding: 0.15em 0.15em;  
   color: #0077b5;
   background:#fff;
   border-radius: 1em;
}

.creator-content h3 {
   font-size: 1.4em;
   color: #e8e8e8;
   margin-top: 7px;
   margin-bottom: 2px;
}

.creator-content .textIcon {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.creator-content .textIcon h4 {
   color: #dd8f25;
   font-weight: 400;
}

.creator-content .description {
   margin-top: 10px;
}

.creator-content .description p {
   font-size: 1em;
   color: #f9f9f8;
   line-height: 1.5em;
}
